/*Das hier sind die Styles der einzelnen Abschnitte/Elemente */

#vmane {
	float: middle; 
	clear: both; 
	margin: 2px auto;
}
img #maneBild {
	width: 100px;
	height: auto;
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

h1 {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
} 

#video-area{
	margin-top: 30px;
	text-align: center;
}

#text-middle {
	text-align: center;
}